def consumer_key():
    return  'HIDE'

def consumer_secret():
    return 'HIDE'

def request_token_url():
    return 'https://api.twitter.com/oauth/request_token'

def authorize_url():
    return 'https://api.twitter.com/oauth/authorize'

def access_token_url():
    return 'https://api.twitter.com/oauth/access_token'

def access_token_key():
    return 'HIDE'

def access_token_secret():
    return  'HIDE'


